# Node
node_modules/*
npm-debug.log

# TypeScript
src/compiled
# /dist -- adding dist, so we can pull it directly from github

# JetBrains
.idea
.project
.settings
.idea/*
*.iml

# Windows
Thumbs.db
Desktop.ini

# Mac
.DS_Store
**/.DS_Store

# But not these:
!*.conf.js

/coverage
